<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My collectors</title>
    <link rel="stylesheet" href="/views/styles.css">
</head>
<body>
    <script src="/views/script.js"></script>

    <!-- CREDENTIALS CONTAINER -->

    <div id="credentials-container" class="container">
        <!-- TITLE -->
        <h1><%= __('i18n.views.manage.my-collectors') %></h1>
        <!-- CREDENTIALS LIST -->
        <div id="credentials-list"></div>
        <!-- BUTTON -->
        <button id="add-credential-button" class="button action-button"><%= __('i18n.views.manage.add-collectors') %></button>
    </div>

    <!-- COMPANIES CONTAINER -->

    <div id="companies-container" class="container" hidden>
        <!-- BUTTON -->
        <button id="return-to-credentials-button" class="button return-button"><%= __('i18n.views.manage.return') %></button>
        <!-- TITLE -->
        <h1><%= __('i18n.views.manage.add-collectors') %></h1>
        <!-- COMPANIES LIST -->
        <ul id="companies-list"></ul>
    </div>

    <!-- FORM CONTAINER -->
        
    <div id="form-container" class="container" hidden>
        <!-- BUTTON -->
        <button id="return-to-companies-button" class="button return-button"><%= __('i18n.views.manage.return') %></button>
        <!-- TITLE -->
        <h1><%= __('i18n.views.manage.add-collectors') %></h1>
        <!-- FORM -->
        <div id="add-credential-form-container">
            <div class="company-item">
                <img id="company-logo" src="" alt="">
                <div>
                    <h3 id="company-name"></h3>
                    <p id="company-description"></p>
                </div>
            </div>
            <form id="add-credential-form">
            </form>
        </div>
    </div>
    <script>
        const locale = "<%= locale %>";
    </script>
</body>
</html>
